@import './reset.css';
@import './style.css';

main {
  padding-top: 20vh;
  text-align: center;
  color: white;
  font-family: NanumSquareRoundB;
}

h1 {
  font-size: 48px;
  margin-top: 8px;
  font-family: NanumSquareRoundEB;
}

h5 {
  font-size: 16px;
}

p {
  font-size: 16px;
  margin-top: 64px;
}

a {
  display: inline-block;
  margin-top: 30vh;
}
