@import './reset.css';
@import './style.css';

.menu-title {
  font-size: 36px;
  font-weight: 800;
  color: white;
  animation: show 0.8s ease-in-out forwards;
}

.product-box {
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 28px;
  background-color: white;
  cursor: pointer;
  margin: 16px auto;
  padding: 24px 28px;
  animation: show 0.8s ease-in-out forwards;
}

#type1 {
  margin-top: 100px;
}

.type {
  color: rgba(0, 0, 0, 0.6);
}

.name {
  color: #52c7e3;
  font-size: 28px;
  margin-top: 10px;
}

.price {
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #fcd747;
  border-radius: 6px;
  margin-top: 14px;
}
