@import './reset.css';
@import './style.css';

.menu-title {
  font-size: 36px;
  font-weight: 800;
  color: white;
}

.product-box {
  max-width: 300px;
  box-sizing: border-box;
  border-radius: 28px;
  background-color: white;
  opacity: 0;
  cursor: pointer;
  margin: 16px auto;
  padding: 24px 28px;
  animation: show 0.3s ease-in-out forwards;
}

#type1 {
  margin-top: 100px;
  animation-delay: 0.1s;
}

#type2 {
  animation-delay: 0.2s;
}

.type {
  color: rgba(0, 0, 0, 0.6);
}

.name {
  color: #52c7e3;
  font-size: 28px;
  margin-top: 10px;
}

.price {
  display: inline-block;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #fcd747;
  border-radius: 6px;
  margin-top: 14px;
}

.soldOut-box {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 28px;
  background-color: rgba(0, 0, 0, 0.7);
}

.sold-out {
  font-size: 28px;
  color: white;
}

.soldOut-active {
  display: flex;
}
