@import './reset.css';
@import './style.css';

.menu-title {
  font-size: 36px;
  font-weight: 800;
  color: white;
}

.product-des {
  margin-top: 60px;
  opacity: 0;
  animation: show 0.4s ease-in-out forwards;
}

.type {
  color: #067793;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.name {
  font-size: 28px;
  color: white;
}

.price {
  display: flex;
  font-size: 20px;
  padding: 6px 12px;
  background-color: #fcd747;
  border-radius: 6px;
}

.product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: white;
  border-radius: 24px;
  margin-top: 16px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.4s ease-in-out;
}

.modal-active {
  display: flex;
  opacity: 100%;
}
