main {
  display: flex;
  flex-direction: column;
  margin: 40vh auto;
}

h2 {
  margin-top: 20px;
  text-align: center;
}

.loading-box {
  margin: 0 auto;
}

.loading-dot {
  float: left;
  width: 12px;
  height: 12px;
  background-color: #fcd747;
  border-radius: 50%;
  margin-right: 12px;
  animation: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading-dot:nth-child(1) {
  animation-delay: 0s;
}
.loading-dot:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.2s;
}
.loading-dot:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.code {
  display: flex;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 30px;
  background-color: #fcd747;
  border-radius: 15px;
  padding: 14px 4px 12px 34px;
}
