@import './reset.css';
@import './style.css';

main {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 28px;
  color: white;
  line-height: 1.3;
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 28px;
  color: white;
  font-weight: bold;
}

.loading-box {
  margin: 150px auto 0;
}

.loading-dot {
  float: left;
  width: 12px;
  height: 12px;
  background-color: #fcd747;
  border-radius: 50%;
  margin-right: 12px;
  animation: loading;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.loading-dot:nth-child(1) {
  animation-delay: 0s;
}
.loading-dot:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-dot:nth-child(3) {
  animation-delay: 0.2s;
}
.loading-dot:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.code {
  display: flex;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 30px;
  background-color: #fcd747;
  border-radius: 16px;
  padding: 14px 4px 12px 34px;
  margin: 16px 0;
}
