
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml


# OS Parameter
.env
.DS_Store
announcements/__pycache__/__init__.cpython-38.pyc
announcements/__pycache__/admin.cpython-38.pyc
announcements/__pycache__/apps.cpython-38.pyc
announcements/__pycache__/models.cpython-38.pyc
announcements/__pycache__/urls.cpython-38.pyc
announcements/__pycache__/views.cpython-38.pyc
announcements/api/v1/__pycache__/__init__.cpython-38.pyc
announcements/api/v1/__pycache__/serializers.cpython-38.pyc
announcements/migrations/__pycache__/0001_initial.cpython-38.pyc
announcements/migrations/__pycache__/0002_auto_20200811_1107.cpython-38.pyc
announcements/migrations/__pycache__/0003_auto_20200811_1133.cpython-38.pyc
announcements/migrations/__pycache__/0004_auto_20200811_1344.cpython-38.pyc
announcements/migrations/__pycache__/0005_announcement_musician.cpython-38.pyc
announcements/migrations/__pycache__/0006_announcementcomment.cpython-38.pyc
announcements/migrations/__pycache__/0007_auto_20200821_2000.cpython-38.pyc
announcements/migrations/__pycache__/__init__.cpython-38.pyc
config/__pycache__/__init__.cpython-38.pyc
config/__pycache__/settings.cpython-38.pyc
config/__pycache__/urls.cpython-38.pyc
config/__pycache__/wsgi.cpython-38.pyc
config/settings.py
core/__pycache__/__init__.cpython-38.pyc
core/__pycache__/admin.cpython-38.pyc
core/__pycache__/apps.cpython-38.pyc
core/__pycache__/models.cpython-38.pyc
core/__pycache__/urls.cpython-38.pyc
core/__pycache__/views.cpython-38.pyc
core/api/__pycache__/__init__.cpython-38.pyc
core/api/v1/__pycache__/__init__.cpython-38.pyc
core/api/v1/__pycache__/serializers.cpython-38.pyc
core/api/v1/__pycache__/urls.cpython-38.pyc
core/api/v1/__pycache__/views.cpython-38.pyc
core/migrations/__pycache__/0001_initial.cpython-38.pyc
core/migrations/__pycache__/0002_genre_url.cpython-38.pyc
core/migrations/__pycache__/0003_position_url.cpython-38.pyc
core/migrations/__pycache__/0004_existedartist_photo.cpython-38.pyc
core/migrations/__pycache__/0005_auto_20200804_1553.cpython-38.pyc
core/migrations/__pycache__/0006_auto_20200807_1429.cpython-38.pyc
core/migrations/__pycache__/0007_existedartist_genres.cpython-38.pyc
core/migrations/__pycache__/__init__.cpython-38.pyc
core/mixins/__pycache__/social_mixins.cpython-38.pyc
core/mixins/__pycache__/token_mixins.cpython-38.pyc
core/templates/core/home.html
feeds/__pycache__/__init__.cpython-38.pyc
feeds/__pycache__/admin.cpython-38.pyc
feeds/__pycache__/apps.cpython-38.pyc
feeds/__pycache__/models.cpython-38.pyc
feeds/__pycache__/urls.cpython-38.pyc
feeds/__pycache__/views.cpython-38.pyc
feeds/migrations/__pycache__/0001_initial.cpython-38.pyc
feeds/migrations/__pycache__/0002_auto_20200807_1429.cpython-38.pyc
feeds/migrations/__pycache__/0003_auto_20200807_1457.cpython-38.pyc
feeds/migrations/__pycache__/0004_feed_is_best.cpython-38.pyc
feeds/migrations/__pycache__/0005_feed_paly_time.cpython-38.pyc
feeds/migrations/__pycache__/0006_auto_20200810_1638.cpython-38.pyc
feeds/migrations/__pycache__/0007_auto_20200811_1344.cpython-38.pyc
feeds/migrations/__pycache__/__init__.cpython-38.pyc
musicians/__pycache__/__init__.cpython-38.pyc
musicians/__pycache__/admin.cpython-38.pyc
musicians/__pycache__/apps.cpython-38.pyc
musicians/__pycache__/models.cpython-38.pyc
musicians/__pycache__/urls.cpython-38.pyc
musicians/__pycache__/views.cpython-38.pyc
musicians/api/v1/__pycache__/__init__.cpython-38.pyc
musicians/api/v1/__pycache__/serializers.cpython-38.pyc
musicians/api/v1/__pycache__/urls.cpython-38.pyc
musicians/api/v1/__pycache__/views.cpython-38.pyc
musicians/migrations/__pycache__/0001_initial.cpython-38.pyc
musicians/migrations/__pycache__/0002_auto_20200804_1553.cpython-38.pyc
musicians/migrations/__pycache__/0003_auto_20200807_0905.cpython-38.pyc
musicians/migrations/__pycache__/0004_auto_20200807_1429.cpython-38.pyc
musicians/migrations/__pycache__/0005_auto_20200807_1457.cpython-38.pyc
musicians/migrations/__pycache__/0006_auto_20200811_1344.cpython-38.pyc
musicians/migrations/__pycache__/0007_auto_20200821_2003.cpython-38.pyc
musicians/migrations/__pycache__/__init__.cpython-38.pyc
static/css/announcements/announcement_card.css
static/css/core/home.css
static/img/icon/ic_date.svg
static/img/icon/ic_location.svg
static/img/icon/ic_need-position.svg
templates/mixins/announcements/announcement_card.html
users/__pycache__/__init__.cpython-38.pyc
users/__pycache__/admin.cpython-38.pyc
users/__pycache__/apps.cpython-38.pyc
users/__pycache__/forms.cpython-38.pyc
users/__pycache__/mixins.cpython-38.pyc
users/__pycache__/models.cpython-38.pyc
users/__pycache__/urls.cpython-38.pyc
users/__pycache__/views.cpython-38.pyc
users/api/v1/__pycache__/__init__.cpython-38.pyc
users/api/v1/__pycache__/permissions.cpython-38.pyc
users/api/v1/__pycache__/serializers.cpython-38.pyc
users/api/v1/__pycache__/urls.cpython-38.pyc
users/api/v1/__pycache__/views.cpython-38.pyc
users/migrations/__pycache__/0001_initial.cpython-38.pyc
users/migrations/__pycache__/0002_auto_20200804_1455.cpython-38.pyc
users/migrations/__pycache__/0003_auto_20200807_0854.cpython-38.pyc
users/migrations/__pycache__/0004_user_alias.cpython-38.pyc
users/migrations/__pycache__/0005_auto_20200825_1604.cpython-38.pyc
users/migrations/__pycache__/0006_auto_20200825_1611.cpython-38.pyc
users/migrations/__pycache__/__init__.cpython-38.pyc
config/settings.py
core/templates/core/home.html
static/css/announcements/announcement_card.css
static/css/core/home.css
templates/mixins/announcements/announcement_card.html
