@import './reset.css';
@import './variable.css';
@import './intro.css';

@font-face {
  font-family: 'NanumSquareRound';
  src: url('/static/font/NanumSquareRoundR.ttf') format('truetype');
}

body {
  font-family: NanumSquareRound;
}
